<div id="container">
  <p class="opis">
    Online narucivanje hrane Vam omogucava da narucite hranu iz fotelje. <br>
    Takodje imate uvid na kategorije hrane koji se nudi, njegov opis, odabir kolicine hrane.. <br>
    Pre nego sto se izvrsite narucivanje, neophodno je da se prijavite na sajt. <br>
    Nakon toga neophodno je da navedete lokaciju na kojoj se nalazite kao i <br>
    da ostavite kontakt telefon kako bi se narudzbina isporučila, <br>
    zatim odaberete zeljeni restoran ili fast food, <br>
    cekirate proizvod koji zelite i potvrdite svoju narudzbinu. <br>
    Takodje Vam se prikazuje cena za koju se zaduzujete za odabran proizvod, <br>
    gde u sledecem potvrdjuje narudzbinu, tj. narucujete. 
  </p>
  </div>