<div class="kategorije">
	<ul class="category">
		<li class="nav-item">
			<a class="nav-link" routerLink="italy">Italijanska kuhinja</a>
		</li>
	</ul>

</div>
<div imgs>
		<h3>Bolognese (Bolonjeze sos: mleveno meso, pelat, parmezan, zacini)</h3>
		<img src="../assets/img/bolognese.jpg" width="100%">
		<h3>Pesto di pollo (Pesto djenoveze, piletina, panceta, pavlaka, zacini)</h3>
		<img src="../assets/img/pesto.jpg" width="100%">
		<h3>Karbonara (Pavlaka, zumance, panceta, veli luk, belo vino, zacini)</h3>
		<img src="../assets/img/car.jpg" width="100%">
</div>